@media (min-width: 901px) {
    
    .content {
        max-width: 750px;
        margin: 0 auto;
    }

    /* ************************ Header ************************ */

    .header {
        display: block;
        padding: 1rem;
        background: transparent;
        height: 60px;
        
    }
    
    .header a {
        color: white;
        text-decoration: none;
    }
    
    /* Botão hamburguer */
    
    #btn-mobile {
        display: none;
    }
    
    /* Navbar */
    
    #nav-bar {
        height: 60px;       
    }
    
    #nav-bar ul li:first-child {
        margin-top: 10px;
    }
    
    #nav-bar ul {
        text-align: center;
        margin: 0 auto;
    }
    
    #nav-bar ul li {
        margin: 10px 5px;        
        list-style: none;
        border: none;        
    }
    
    #nav-bar ul li a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 1.2rem;
        padding: 5px 10px;
        transition: .3s;
        font-weight: bold;
    }

    #nav-bar ul li a:hover {
        color: var(--secondary-color);
    }
    
    /* Menu */
    
    #menu {
        position: inherit;
        width: auto;
        height: auto;
        background: transparent;
        display: flex;
        visibility: visible;
        justify-content: center;
        padding: 0;        
    }

    /* *********************** Introdução ************************/

    .introduction h3 {
        font-size: 1.3rem;
        color: var(--secondary-color);
        font-weight: bolder;
    }

    .social-network a i {
        transition: .3s;
    }

    .fa-github:hover {
        color: rgb(102, 102, 102);
    }

    .fa-linkedin:hover {
        color: rgb(14, 118, 168);
    }
    
    .fa-whatsapp:hover {
        color: rgb(37, 211, 102);
    }

    .saiba-mais a {
        transition: .3s;
    }

    .saiba-mais a:hover {
        color: var(--secondary-color);
    }

    /* *********************** Resumo *********************** */

    .skill-card div:hover {
        background-color: rgb(213, 168, 255);
    }

    .download-cv button {
        transition: .3s;
    }

    .download-cv button:hover {
        background-color: rgb(114, 0, 185);        
    }  

    /* *********************** Portfólio *********************** */

    .modal-content {
        background-color: white;
        width: 50%;
    } 

    .project-btn {
        transition: .5s;
    }

    .project-btn:hover {
        background-color: rgb(114, 0, 185);  
    }

    /* *********************** Contato ***********************  */

    .contact-form button {
        transition: .3s;
    }

    .contact-form button:hover {
        background-color: rgb(0, 160, 0);
    }
    
    
}