@media screen and (min-width: 426px) {

    .content {
        margin: 0 50px;
        position: relative;
    }

    /* ************************ Header ************************ */

    /* Menu */

    #menu.mostrar {
        width: 60%;
    }
        
    /* *********************** Introdução ************************/

    .introduction h3 {
        font-size: 1.3rem;
    }

    .introduction p {
        font-size: 4rem;
    }

    .introduction .job {
        font-size:1.6rem;
    }

    .social-network a i {
        font-size: 2.5rem;
    }

    /* *********************** Resumo *********************** */

    /* Informações pessoais */

    .about img {
        display: flex;
        height: 120px;
        border-radius: 200px;
        margin: 30px auto;
    }

    .personal-info div {
        margin: 15px 0;
        text-align: center;
    }

    .personal-info div p {
        font-size: 1.3rem;
    }

    /* Informações Acadêmicas */

    .graduation {
        width: 80%;
        margin: 0 auto;
    }

    .institute p {
        font-size: rem;
    }
    
    /* Habilidades */

    .skill-cards {
        display: grid;
        grid-gap: 60px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        justify-content: center;
        justify-items: center;
        padding: 20px;
    }
    
    .skill-card {
        margin: 0;
        border-radius: 0 0 .6rem .6rem;
        display: flex;
        flex-direction: column;
        width: 170px;
        position: relative;
    }

    /* Download CV */

    .download-cv button {
        width: 50%;
        margin: 60px auto;
    }

    /* *********************** Portfolio ***********************  */

    .about-project h4,
    .tech h4 {
        font-size: 1.2rem;
    }
    .about-project p{
        font-size: 1rem;
    }

    .tech img {
        margin: 5px 0;
        height: 35px;
    }

    /* *********************** Contato ***********************  */

    .contact-form {
        text-align: center;
        border: none;
        margin: 80px auto; 
        width: 60%;    
    }

    /* *********************** Rodapé ***********************  */

    .footer {
        height: 320px;
    }

    .footer-cards {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        justify-content: center;
        justify-items: center;
    }
    
    .footer-card {
        margin: 0;
        border-radius: 0 0 .6rem .6rem;
        display: flex;
        flex-direction: column;
        width: 170px;
        position: relative;
    }

    .footer-card:nth-child(3) i {
        margin-top: 0px;
    }

    .bottom-line {
        margin-top: 100px;
    }    

}