:root {
    --secondary-color: rgb(160, 58, 255);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color: rgb(48, 0, 94)
}

.main {
    height: 100vh;
}

.content {
    margin: 0 25px;
    height: 100%;
}

/* ************************ Header ************************ */

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: transparent;
    height: 60px;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

/* Botão hamburguer */

#btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    z-index: 1000;
}

#hamburger {
    border-top: 2px solid;
    color: white;
    margin: 5px;
}

#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#btn-mobile.transformar #hamburger {
    border-top-color: transparent;
}

#btn-mobile.transformar #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

#btn-mobile.transformar #hamburger::before {
    transform: rotate(135deg);
}

/* Navbar */

#nav-bar {
    height: 60px;
}

#nav-bar ul li:first-child {
    margin-top: 80px;
}

#nav-bar ul {
    text-align: center;
    margin: 0 auto;
}

#nav-bar ul li {
    margin: 10px;
    padding: 0px 0px 15px 0px;
    list-style: none;
    border-bottom: solid 1px rgba(80, 80, 80, 0.5);

}

#nav-bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    top: 60px;
    font-size: 1.3rem;
}

/* Menu */

#menu {
    position: absolute;
    width: 0%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    display: block;
    transition: 0.2s;
    height: 100vh;
    z-index: 999;
    visibility: hidden;
    overflow-x: hidden;
}

#menu.mostrar {
    width: 75%;
    visibility: visible;
    overflow-x: auto;
}

/* *********************** Introdução ************************/


.intro {
    background: url(../src/images/intro-background.jpg) no-repeat right bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}

.black-layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.introduction {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction-content {
    text-align: center;
}

.introduction h3 {
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: bolder;
}

.introduction p {
    font-size: 2rem;
    font-weight: bold;
}

.introduction .job {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
}

.social-network a i {
    color: white;
    font-size: 2rem;
    margin: 30px 5px 5px 5px;
    justify-content: space-between;
    transition: .3s;
}

.saiba-mais {    
    position: absolute; 
    width: 30%;
    height: 6%;
    border-radius: 5px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    bottom: 2rem    
}

.saiba-mais div {
    margin: 6px;
}

.saiba-mais a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    font-size: 1rem;
}

.saiba-mais i {
    color: white;
    display: block;
    margin-top: 5px;
    animation: animar-seta .7s infinite;
}

@keyframes animar-seta {
    to {
        opacity: 1;
        transform: translateY(15px);
    }
}

.back-to-top {
    position: fixed;
    height: 0px;
    width: 40px;
    background-color: var(--secondary-color);
    border-radius: 100px;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.back-to-top i {
    visibility: hidden;
    font-size: 1.2rem;
}

/* *********************** Resumo *********************** */

/* Titulo */

.resume {
    /* background: url(../src/images/resume-background.jpg) no-repeat bottom; */
    background-size: cover;
    background-color: white;
    color: black;

}

.title h3 {
    color: var(--secondary-color);
    padding-top: 60px;
    margin-bottom: 15px;
}

.title {
    text-align: center;
}

.title p {
    margin-top: 5px;
    color: black;
}

/* Informações pessoais */

.about img {
    display: flex;
    height: 120px;
    border-radius: 200px;
    margin: 30px auto;
}

.personal-info div {
    margin: 15px 0;
}

.personal-info div p {
    font-size: 1.2rem;
}

/* Informações Acadêmicas */

.graduation {
    margin-top: 50px;
}

.graduation .institute {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.graduation .institute i {
    display: flex;
    color: rgb(255, 255, 255);
    margin-right: 13px;
    background-color: var(--secondary-color);
    padding: 8px;
    border-radius: 500px;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.graduation .institute h4 {
    font-size: 1.1rem;
    margin: auto 0;
}

.course-content {
    margin: 10px 0 0 50px;
    font-size: 0.9rem;
}

.course-content p {
    margin-top: 10px;
    text-align: justify;
}

/* Habilidades */

.skill-card {
    margin: 25px 0;
} 

.skill-card div {
    display: flex;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.skill-card img {
    height: 60px;
}

.skill-card p {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 10px;
}

@media screen and (min-width: 375px) {

    .skill-cards {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        justify-content: center;
        justify-items: center;
        padding: 20px;
    }
    
    .skill-card {
        margin: 0;
        border-radius: 0 0 .6rem .6rem;
        display: flex;
        flex-direction: column;
        width: 140px;
        position: relative;
    }

    .skill-card img {
        height: 50px;
    }

}

/* Download CV */

.download-cv {
    margin: 60px 0px 30px 0px;
    display: flex;
}

.download-cv button {
    margin-bottom: 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

/* *********************** Portfolio ***********************  */

.portfolio {
    background-color: rgb(236, 236, 236);
    display: block;
}

.portfolio h3 {
    padding-top: 60px;
}

.projects {
    display: block;
    margin: auto;
    padding: 50px 0;
    ;
}

.project {
    width: 100%;
    margin: 25px 0;
}

.project a {
    position: relative;
}

.project a img {
    width: 100%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.my-slides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 0;
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, .0));
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal .fechar {
    position: absolute;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin: 10px;
    right: 0px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: white;
    width: 85%;
    border-radius: 10px;
}

.project-cover img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.about-project,
.tech {
    margin: 15px 15px;
}

.about-project h4,
.tech h4 {
    font-size: 0.9rem;
}

.about-project p {
    font-size: 0.8rem;
    margin-top: 10px;
    color: black;
}

.tech img {
    padding: 5px;
    height: 25px;
}

.project-btn {
    background-color: var(--secondary-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 0 0 10px 10px;
}

/* *********************** Contato ***********************  */

.contact {
    color: black;
    min-height: 100vh;
}

.contact-form {
    text-align: center;
    border: none;
    margin: 80px 0;
    width: 100%;
}

.contact-form fieldset {
    border: none;
}

.contact-form div {
    position: relative;
}

.contact-form div label {
    position: absolute;
    top: 32px;
    left: 10px;
    pointer-events: none;
    transition: .3s;
}

.form-field {
    width: calc(100% - 22px);
    height: 2rem;
    margin: 15px 0;
    padding: 5px 0px;
    font-size: 1rem;
    border: none;
    border-bottom: solid 1px var(--secondary-color);
    outline: none;
}

.form-field:focus~label,
.form-field:valid~label {
    top: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.contact-form textarea {
    padding-top: 25px;
    height: 150px;
}

.contact-form button {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(3, 216, 3);
    font-size: 1.1rem;
    cursor: pointer;
}

/* *********************** Rodapé ***********************  */

.footer {
    background-color: black;
}

.footer-card {
    text-align: center;
    height: 120px;
    color: white;
    padding-top: 50px;
}

.footer-card p {
    margin: 5px 0;
}

.footer-card i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.footer-card:nth-child(3) .social-network a i {
    font-size: 1.5rem;
}

.bottom-line {
    text-align: center;
    padding: 10px 0;
}