:root {
    --secondary-color: rgb(160, 58, 255);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color:rgb(48, 0, 94)
}

.main {
    height: 100vh;
}

.intro {
    background: url(../src/images/intro-background.jpg) no-repeat right bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}

.black-layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);     
}

/* ************************ Header ************************ */

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: transparent;
    height: 60px;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
}

/* Botão hamburguer */

#btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    z-index: 1000;
}

#hamburger {
    border-top: 2px solid;
    color: var(--secondary-color);
    margin: 5px;
}

#hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#btn-mobile.transformar #hamburger {
    border-top-color: transparent;
}

#btn-mobile.transformar #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}
#btn-mobile.transformar #hamburger::before {
    transform: rotate(135deg);
}

/* Navbar */

#nav-bar {
    height: 60px;
}

#nav-bar ul li:first-child {
    margin-top: 80px;
}

#nav-bar ul {
    text-align: center;
    margin: 0 auto;
}

#nav-bar ul li {
    margin: 10px ;
    padding: 0px 0px 15px 0px;
    list-style: none;
    border-bottom: solid 1px rgba(80, 80, 80, 0.5);
    
}

#nav-bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    top: 60px;
    font-size: 1.3rem;
}

/* Menu */

#menu {
    position: absolute;
    width: 0%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    transition: 0.2s;
    height:100vh;
    z-index: 999;
    visibility: hidden;
    overflow-x: hidden;
}

#menu.mostrar {
    width: 75%;
    visibility: visible;
    overflow-x: auto;
}

/* *********************** Introdução ************************/

.intro-content {
    width: 100%;
    height: 100%;
}

.introduction {
    position: absolute;
    width: 80%;
    top: 40%;
    margin-left: 10%;
    margin-right: 10%;
}

.introduction h3 {
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: bolder;
}

.introduction p {
    font-size: 1.7rem;
}

.introduction .job::after {
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.social-network a i {
    color: white;
    font-size: 2rem;
    margin-left: 10px;
    justify-content: space-between;
}

.saiba-mais {
    position: absolute;
    width: 30%; 
    height: 6%;
    border-radius: 5px;
    text-align: center; 
    margin-left: 35%;
    margin-right: 35%; 
    bottom: 2rem 
}

.saiba-mais div{
    margin: 6px;
}

.saiba-mais a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    font-size: 1rem;
}

.saiba-mais i {
    color: white;
    display: block;
    margin-top: 5px;
}

/* *********************** Resumo *********************** */

/* Titulo */

.resume {
    background: url(../src/images/resume-background.jpg) no-repeat bottom;
    background-size: cover;    
    background-color: white;    
    color: black;

}

.resume h3 {
    color: var(--secondary-color);
    padding-top: 20px ;
}

.title {
    text-align: center;
}

.title p {
    margin-top: 5px;
}

/* Informações pessoais */

.about img {
    display: flex;
    height: 120px;
    border-radius: 200px;
    margin: 30px auto;
}

.personal-info {
    margin: 0 30px;
}

.personal-info div {
    margin: 15px 0;
}

.personal-info div p {
    font-size: 1.2rem;
}

/* Informações Acadêmicas */

.academic-education {
   margin: 0 30px;
}

.graduation .institute {
    display:flex;
    margin-top: 20px;
}

.graduation .institute i {
    margin-right: 10px;
    background-color: white;
    padding: 12px 10px 10px 10px;
    border-radius: 200px;
}

.graduation .institute H4 {
    font-size: 1.1rem;
    margin: auto 0;
}

.institute p {
    font-size: 0.9rem;
    font-weight: 500;
}

.course-content {
    margin: 10px 0 0 50px;
    font-size: 0.9rem;
}

.course-content p {
    margin-top: 10px;
    text-align: justify;
}

/* Skills */

.skills {
    margin: 30px;
}

.front-end-skills img,
.back-end-skills img {
    margin: 25px 5px 0 5px;
}

.front-end-skills h4,
.back-end-skills h4 {
    margin-top: 15px; 
}

.front-end-skills img {
    height: 50px;
}

.back-end-skills img {
    height: 50px;
}

/* Download CV */

.download-cv {
    margin: 30px;
    display: flex;
}

.download-cv button {
    margin-bottom: 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    height: 50px;    
    width: 100%;
}